## Top 5 Songs

Assume there are three Spotify tables containing information about the artists, songs, and music charts. Write a query to determine the top 5 artists whose songs appear in the Top 10 of the `global_song_rank` table the highest number of times. From now on, we'll refer to this ranking number as "song appearances".

Output the top 5 artist names in ascending order along with their song appearances ranking (not the number of song appearances, but the rank of who has the most appearances). The order of the rank should take precedence.

For example, Ed Sheeran's songs appeared 5 times in Top 10 list of the global song rank table; this is the highest number of appearances, so he is ranked 1st. Bad Bunny's songs appeared in the list 4, so he comes in at a close 2nd.

Assumptions:

* If two artists' songs have the same number of appearances, the artists should have the same rank.
* The rank number should be continuous (1, 2, 2, 3, 4, 5) and not skipped (1, 2, 2, 4, 5).

In [ ]:
%sql

SELECT artist_name,
    6 - rank AS fin_rank
FROM(
        SELECT a.artist_name,
            COUNT(to_ranks.artist_id) AS rank
        FROM (
                SELECT g.song_id,
                    g.rank,
                    s.artist_id
                FROM global_song_rank AS g
                    INNER JOIN songs AS s ON g.song_id = s.song_id
                WHERE g.rank <= 10
            ) AS to_ranks
            INNER JOIN artists AS a ON to_ranks.artist_id = a.artist_id
        GROUP BY to_ranks.artist_id,
            a.artist_name
        ORDER BY COUNT(to_ranks.artist_id)
    ) AS final
WHERE rank <= 5
ORDER BY fin_rank